!.gitignore

# Components
src/components/data_manager/settings.yml

# Data
data/*

# Results
results/*.png
results/tuning/*
results/training/*
results/testing/*
results/TSNE/*
results/rendevouz/*

# Configs
configs/visualization/config_neptune.yaml
configs/visualization/config_wandb.yaml

###
.vscode
homebrew
scripts/stderr.txt
scripts/stdout.txt

# Neptune-Client
.neptune

# Models
src/assets/imagen/models/*.pt
src/assets/elucidated_imagen/models/*.pt
src/assets/dalle2/models/*.pt
src/assets/rendevouz/*.pt

# Embeddings
src/assets/data/CholecT45/clip_embeds/*
src/assets/data/CholecT45/clip_tokens/*
src/assets/data/CholecT45/t5_embeds/*
src/assets/data/CholecSeg8k/clip_embeds/*
src/assets/data/CholecSeg8k/clip_tokens/*
src/assets/data/CholecSeg8k/t5_embeds/*

# Triplets
src/assets/data/CholecT45/data_frames/*
src/assets/data/CholecSeg8k/data_frames/*

# Byte-compiled / optimized / DLL files
*__pycache__*
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
