absl-py==1.3.0
accelerate==0.15.0
aiohttp==3.8.3
aiosignal==1.2.0
alembic==1.9.2
appdirs==1.4.4
asttokens==2.2.1
astunparse==1.6.3
async-timeout==4.0.2
attrs==21.4.0
autopep8==2.0.1
backcall==0.2.0
beartype==0.11.0
beautifulsoup4==4.11.1
blis==0.7.7
boto3==1.26.43
botocore==1.29.43
bravado==11.0.3
bravado-core==5.17.1
cachetools==5.2.0
catalogue==2.0.7
certifi==2022.5.18.1
cffi==1.15.1
charset-normalizer==2.0.12
click==8.1.3
cloudpickle==2.2.1
cmaes==0.9.1
colorlog==6.7.0
colour==0.1.5
comm==0.1.2
contourpy==1.0.6
cryptography==39.0.0
cycler==0.11.0
cymem==2.0.6
datasets==2.8.0
debugpy==1.6.6
decorator==5.1.1
Deprecated==1.2.13
dill==0.3.6
distlib==0.3.1
dm-tree==0.1.8
einops==0.6.0
einops-exts==0.0.3
ema-pytorch==0.1.2
executing==1.2.0
filelock==3.0.12
flatbuffers==23.1.4
fonttools==4.38.0
frozenlist==1.3.0
fsspec==2022.11.0
future==0.18.2
gast==0.4.0
gdown==4.6.0
gitdb==4.0.10
GitPython==3.1.30
google-api-core==2.11.0
google-api-python-client==2.71.0
google-auth==2.15.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
googleapis-common-protos==1.57.1
greenlet==2.0.2
grpcio==1.51.1
gym==0.23.1
gym-notices==0.0.8
h5py==3.7.0
httplib2==0.21.0
huggingface-hub==0.11.1
idna==3.3
imageio==2.25.0
imagen-pytorch==1.18.11
importlib-metadata==5.0.0
importlib-resources==5.10.2
ipykernel==6.21.2
ipython==8.10.0
ivtmetrics==0.1.2
jedi==0.18.2
jeepney==0.8.0
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.2.0
jsonref==1.0.1
jsonschema==4.17.3
jupyter-client==8.0.2
jupyter-core==5.2.0
kaleido==0.2.1
keras==2.11.0
keyring==23.4.1
keyrings.alt==3.1
kiwisolver==1.4.4
kornia==0.6.9
langcodes==3.3.0
libclang==15.0.6.1
lightning-utilities==0.5.0
lpips==0.1.4
lz4==4.3.2
Mako==1.2.4
Markdown==3.4.1
markdown-it-py==2.1.0
MarkupSafe==2.1.1
matplotlib==3.6.2
matplotlib-inline==0.1.6
mdurl==0.1.2
monotonic==1.6
msgpack==1.0.4
multidict==6.0.2
multiprocess==0.70.14
murmurhash==1.0.7
neptune-client==0.16.15
nest-asyncio==1.5.6
networkx==3.0
numpy==1.22.4
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
oauth2client==4.1.3
oauthlib==3.2.2
opencv-python==4.7.0.68
opt-einsum==3.3.0
optuna==3.1.0
packaging==22.0
pandas==1.5.2
parso==0.8.3
pathy==0.6.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.2.0
pkgutil-resolve-name==1.3.10
platformdirs==3.0.0
plotly==5.12.0
preshed==3.0.6
prompt-toolkit==3.0.36
protobuf==3.19.0
psutil==5.9.4
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==10.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.10.0
pycparser==2.21
pydantic==1.8.2
PyDrive==1.3.1
Pygments==2.14.0
PyJWT==2.6.0
pyparsing==3.0.9
PyQt3D==5.15.5
PyQt3D-Qt5==5.15.2
PyQt5==5.15.7
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.0
PyQtChart==5.15.6
PyQtChart-Qt5==5.15.2
PyQtDataVisualization==5.15.5
PyQtDataVisualization-Qt5==5.15.2
PyQtNetworkAuth==5.15.5
PyQtNetworkAuth-Qt5==5.15.2
PyQtPurchasing==5.15.5
PyQtPurchasing-Qt5==5.15.2
PyQtWebEngine==5.15.6
PyQtWebEngine-Qt5==5.15.2
pyrsistent==0.19.3
PySocks==1.7.1
python-dateutil==2.8.2
pytorch-lightning==1.8.6
pytorch-warmup==0.1.1
pytz==2022.7
PyWavelets==1.4.1
PyYAML==6.0
pyzmq==25.0.0
ray==2.2.0
regex==2022.10.31
requests==2.27.1
requests-oauthlib==1.3.1
responses==0.18.0
rich==13.3.1
rsa==4.9
s3transfer==0.6.0
scikit-image==0.19.3
scikit-learn==1.2.0
scipy==1.10.0
SecretStorage==3.3.3
sentencepiece==0.1.97
simplejson==3.18.1
six==1.15.0
sklearn==0.0.post1
smart-open==5.2.1
smmap==5.0.0
soupsieve==2.3.2.post1
spacy==3.3.0
spacy-legacy==3.0.9
spacy-loggers==1.0.2
SQLAlchemy==2.0.1
srsly==2.4.3
stack-data==0.6.2
swagger-spec-validator==3.0.3
synapseclient==2.7.0
tabulate==0.9.0
tenacity==8.1.0
tensorboard==2.11.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorboardX==2.5.1
tensorflow-estimator==2.11.0
tensorflow-io-gcs-filesystem==0.29.0
termcolor==2.2.0
thinc==8.0.17
threadpoolctl==3.1.0
tifffile==2023.2.2
tokenizers==0.13.2
tomli==2.0.1
torch==1.13.1
torch-fidelity==0.3.0
torchmetrics==0.11.0
torchvision==0.14.1
tornado==6.2
tqdm==4.64.0
traitlets==5.9.0
transformers==4.25.1
typer==0.4.1
typing-extensions==4.2.0
uritemplate==4.1.1
urllib3==1.26.9
virtualenv==20.4.2
wasabi==0.9.1
wcwidth==0.2.6
websocket-client==1.4.2
Werkzeug==2.2.2
wrapt==1.14.1
xxhash==3.2.0
yarl==1.7.2
zipp==3.10.0
