aiosignal==1.2.0
appdirs==1.4.4
async-timeout==4.0.2
attrs==21.4.0
blis==0.7.7
catalogue==2.0.7
certifi==2022.5.18.1
charset-normalizer==2.0.12
click==8.1.3
cymem==2.0.6
Deprecated==1.2.13
distlib==0.3.1
filelock==3.0.12
frozenlist==1.3.0
idna==3.3
importlib-metadata==5.0.0
Jinja2==3.1.2
keyring==23.4.1
langcodes==3.3.0
MarkupSafe==2.1.1
multidict==6.0.2
murmurhash==1.0.7
numpy==1.22.4
pathy==0.6.1
Pillow==9.2.0
preshed==3.0.6
protobuf==3.17.3
pydantic==1.8.2
PyQt3D==5.15.5
PyQt5==5.15.7
PyQt5-sip==12.11.0
PyQtChart==5.15.6
PyQtDataVisualization==5.15.5
PyQtNetworkAuth==5.15.5
PyQtPurchasing==5.15.5
PyQtWebEngine==5.15.6
requests==2.27.1
six==1.15.0
smart-open==5.2.1
spacy==3.3.0
spacy-legacy==3.0.9
spacy-loggers==1.0.2
srsly==2.4.3
synapseclient==2.7.0
thinc==8.0.17
tqdm==4.64.0
typer==0.4.1
typing_extensions==4.2.0
urllib3==1.26.9
virtualenv==20.4.2
wasabi==0.9.1
wrapt==1.14.1
yarl==1.7.2
zipp==3.10.0
