accelerate==0.17.0
clean_fid==0.1.35
clip==1.0
clip_anytorch==2.5.2
dalle2_pytorch==1.14.2
imagen_pytorch==1.18.11
ivtmetrics==0.1.2
matplotlib==3.7.1
numpy==1.24.2
open_clip_torch==2.16.0
opencv_python==4.7.0.68
pandas==1.5.3
Pillow==9.5.0
ray==2.3.0
Requests==2.31.0
resnet==0.1
SciencePlots==2.0.1
scikit_learn==1.2.2
scipy==1.9.1
tensorflow==2.12.0
torch==1.13.1
torchmetrics==0.11.4
torchvision==0.14.1
tqdm==4.65.0
transformers==4.26.1
x_clip==0.12.1
