/* Style Sheet of Github Page*/

.row {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
}

figure {
  margin: 0;
  margin-right: 20px;

  width: 200px;
  height: 300px;
  /*background: white;*/
}

figcaption {
    font-style: italic;
    text-align: center;
    font-size: 1em;
}

h1 {
    text-align: center;
    font-size: 18;
}

h2 {
    text-align: left;
    color: grey;
    font-size: 14;
}

h3 {
    text-align: center;
    color: rgb(23, 157, 202);
    font-size: 14;
}

h4 {
    text-align: center;
    color: lightgrey;
    font-size: 10;
}

